# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env_my/
.env
.env.local

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/

# Pytest cache
.pytest_cache/
.cache/

# OS files
Thumbs.db
.DS_Store
